---
import { articles } from "../common/articles"
import NewArticle from "../components/NewArticle.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<h1 class="text-9xl">New</h1>
	<div class="xl:grid xl:grid-cols-2 xl:gap-6">
		{
			articles.map(article => (
				<NewArticle
					{...article}
				/>
			))
		}
	</div>
</Layout>
